@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background-color: #121212;
    color: rgb(241, 15, 15);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-image: url('img/fondo.png'); /* Asegúrate de que el nombre y la ruta sean correctos */
    background-size: cover; /* Ajusta para que cubra toda la pantalla */
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #ce8b43;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(242, 210, 107, 0.952);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgb(207, 158, 93);
}

.product img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.1);
}

.price {
    font-size: 30px;
    font-weight: bold;
    color: #e40c0c;
}

button {
    background-color: #ff5555;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}

.banner {
    width: 100%;
    max-height: 300px; /* Ajusta la altura según lo necesites */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
